<h2>{% now "j F Y" %}</h2>
<table class="cal_month_calendar">
    <tr class="calendar_day">
        {% for day in headers %}
            <th>&nbsp&nbsp&nbsp{{ day|date:"D"|slice:":2" }}</th>
        {% endfor %}
    </tr>
    {% for week in calendar %}
        <tr>
            {% for day in week %}
                <td{% if not day.in_month %} class="gray"{% endif %}>
                    {% if day.news %}
                        <a href="{{ day.news.get_absolute_url }}" class="btn btn-mini btn-primary calendar_sqr"
                           type="button">{{ day.day|date:"j" }}</a>
                    {% else %}
                        <p class="btn btn-mini disabled calendar_sqr">{{ day.day|date:"j" }}</p>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>