{% extends 'base.html' %}
{% block style_addon %}
        <style type="text/css">
            .main_txt p{
                text-indent:30px
            }
        </style>
{% endblock %}
{% block content %}
    <td align="center" rowspan="2" bgcolor="#FFFFFF" valign="top">
        <br>

        <div class="header_txt" align="center"><h4>Федерация танцевального спорта республики Татарстан</h4></div>
        <br>

        <div class="main_txt" align="justify">
            <img style="margin: 10px 10px 10px 10px " src="http://rudocs.exdat.com/pars_docs/tw_refs/532/531050/531050_html_2eb31c05.jpg" class="span3 thumbnail">
            <p>Федерация Танцевального Спорта республики Татарстан является общественной организацией, основанной на
            членстве, созданной для удовлетворения профессиональных и
            любительских интересов своих членов, а также детей, юношества и молодежи, в области массового бального
            танцевания и танцевального спорта.</p> <br><br>
            <p>ФТС РТ является членом <a class="main_txt" target="_blank" href="http://www.rusdsu.ru">Союза танцевального
            спорта России (СТСР)</a>, входящим во
            <a class="main_txt" target="_blank" href="http://www.worlddancesport.org">Всемирную Федерацию танцевального
                спорта (WDSF)</a>.</p><br><br>
            <p>
            В составе ФТС РТ находится (x1) клубов, зарегистрировано около (x2) спортсменов, в том числе (x3) спортсменов
            Международного и "S" класса и (x4) судей, в том числе
            (x5) судей Всероссийской категории и 4 судьи Международной категории.</p> <br>
            <p> ФТС HN проводит крупнейшие любительские соревнования России и Мира, в том числе: Чемпионаты Европы и Мира
            по латиноамериканским танцам, Кубок Мира по (x6)-ти танцам
            среди взрослых, а также ежегодно 2-3 раза в год Рейтинг-турниры Мировой квалификации.</p><br>
            <p> ФТС РТ ежегодно проводит чемпионаты по всем возрастным группам, и лучшие танцевальные пары выступают за
            коанду Санкт-Петербурга на Чемпионатах России.</p>
        </div>
    </td>
{% endblock %}