{% extends 'base.html' %}
{% load extras %}
{% load i18n %}
{% block style_addon %}
    <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
    <!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
    <link rel="stylesheet"
          href="{{ STATIC_URL }}picasagallery/css/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
{% endblock %}
{% block content %}
    <!-- modal-gallery is the modal dialog used for the image gallery -->
    <div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>

            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="modal-image"></div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Предыдущий</a>
            <a class="btn btn-primary modal-next">Следующий <i class="icon-arrow-right icon-white"></i></a>
            <a class="btn btn-success modal-play modal-slideshow" data-slideshow="2000"><i
                    class="icon-play icon-white"></i> Слайдшоу</a>
            <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Скачать</a>
        </div>
    </div>


    <div class="container-fluid">
        <header>
            <h3>Альбом: {{ album_name }}</h3>
            <blockquote>
                <button id="toggle-fullscreen" class="btn btn-large btn-primary" data-toggle="button">Полноэкранный
                    режим
                </button>
            </blockquote>
        </header>
        <a style="margin-bottom: 15px" class="btn btn-warning" href='{% url picasagallery.views.gallery %}'><i class="icon-chevron-left"></i> Вернуться в галерею</a>

        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
            {% for photo in photos %}
                <a href='{{ photo.content.src }}' rel='gallery-image[pp_gal]' data-gallery="gallery">
                    <img class="img-polaroid" style='{% thumbnail_style photo %}' src='{% thumbnail_url photo %}'
                            {% if photo.title %} alt='{{ photo.title.text }}' {% endif %}>
                </a>
            {% endfor %}
        </div>
        <br>
    </div>
{% endblock %}
{% block script_addon %}
    <script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script>
    <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
    <script src="{{ STATIC_URL }}picasagallery/css/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>
    <script src="{{ STATIC_URL }}picasagallery/css/Bootstrap-Image-Gallery/js/main.js"></script>
{% endblock %}