{% extends 'base.html' %}
{% load extras %}
{% load i18n %}
{% block content %}
    <h3 class="offset2">Фотогалерея</h3>
    <div class="row">
    {% for album in albums %}
        <div class="span3" style='text-align: center'>
            <a href="{% url picasagallery.views.album_list album.GetAlbumId %}">
                <img style="margin-left: 20px" class="img-polaroid" src="{% thumbnail_url album %}">
            </a>
            <a style="border: 2px solid #858f97;" href="{% url picasagallery.views.album_list album.GetAlbumId %}">{{ album.title.text }}</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}